.courseMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  border: 1px solid grey;
  width: 350px;
  border-radius: 30px;
  padding: 30px;
}
.cardPrice {
  font-style: italic;
  color: red;
}

.cardDeleteBtn {
  border-radius: 30px;
  width: 100px;
  padding: 10px;
  background-color: rebeccapurple;
  color:white;
  border: none;
}
.cardDeleteBtn:hover{
  background-color: purple;
  cursor: pointer;
}
